<div class="hike-index-header">
  <h2>All Hikes</h2>
</div>

<% @hikes_without_posts.each do |hike| %>
  <h3><%= link_to hike.name, hike_path(hike.id) %></h3>
  <p><%= link_to 'Add post', new_post_path(hike_id: hike.id) %> to this hike</p>
<% end %>

<% @hikes.each do |hike, posts| %>

  <div class="hike-index-name-container">
    <h3><%= link_to hike.name, hike_path(hike.id) %></h3>
  </div>

  <div class="hike-index-add-post">
    <p><%= link_to 'Add post', new_post_path(hike_id: hike.id) %> to this hike</p>
  </div>

  <div class="hike-index-images-container">
    <% posts.each do |post| %>
      <%= link_to (cl_image_tag post.photos[0].image, :width=>150, :height=>150, :gravity=>"auto", :crop=>"fill", :quality=>90), post_path(post.id) %>
    <% end %>
  </div>

  <hr class="gradient-line">

<% end %>
