<div class="post-show-title">
  <h2><%= @post.title %></h2>
</div>

<div class="post-show-posted-by">
  <p>posted by <%= @post.user.name %></p>
</div>

<div class="post-show-image">
  <% @post.photos.each do |post| %>
  <%= cl_image_tag(post.image, :width=>250, :height=>250, :gravity=>"auto", :crop=>"fill", :quality=>90) %>
  <% end %>
</div>

<div class="post-show-caption">
  <p><em><%= @post.caption %></em></p>
</div>

<% if @current_user.present? && @post.user_id == @current_user.id %>
<hr>

<p>Add new photo to post:</p>
<%= form_for Photo.new, html: {multipart: true} do |f| %>
  <%= f.label :title, 'Photo title:' %>
  <br>
  <%= f.text_field :title %>
  <br>

  <%= f.label :image, 'Add new image:', class: 'hidden' %>
  <br>
  <%= f.cl_image_upload :image %>
  <%= hidden_field_tag :post_id, @post.id %>
  <br>
  <br>

  <%= f.submit "Upload photo" %>
<% end %>
  <br>
  <%= link_to 'Edit post', edit_post_path(@post) %>
  |
  <%= link_to 'Delete post', post_path(@post), method: 'delete' %>
<% end %>
