<!DOCTYPE html>
<html>
  <head>
    <title>Project One</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <h1>Project One</h1>
        <nav>
          <% if @current_user.present? %>
            Hello, <%= @current_user.name %>
            |
            <%= link_to 'Logout', login_path, method: 'delete' %>
            <br>
            <%= link_to 'Home', root_path %>
            |
            <%= link_to 'Create new post', new_post_path %>
          <% else %>
            <%= link_to 'Login', login_path %>
            |
            <%= link_to 'Sign up', new_user_path %>
          <% end %>
          | <%= link_to 'View all posts', posts_path %>
        </nav>
        <hr>

    <%= yield %>
  </body>

</html>
