<!DOCTYPE html>
<html>
  <head>
    <title>Yura</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= cloudinary_js_config %>
  </head>

  <body>
    <div class="header-title">
      <h1>Yura</h1>
    </div>

    <ul class="navigation">
      <% if @current_user.present? %>
      <span class="hidden"><li>Hello, <%= @current_user.name %></li></span>
      <li><%= link_to 'Logout', login_path, method: 'delete' %></li>
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Add new hike', new_hike_path %></li>
      <% else %>
      <li><%= link_to 'Login', login_path %></li>
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Sign up', new_user_path %></li>
      <% end %>
      <li><%= link_to 'View all hikes', hikes_path %></li>
    </ul>

    <%= yield %>

    <div class="dphlai">
      &copy; dphlai 2020
    </div>
  </body>

</html>
