<!DOCTYPE html>
<html>
  <head>
    <title>Yura</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= cloudinary_js_config %>
  </head>

  <body>

    <h1>Yura</h1>
      <nav>
        <% if @current_user.present? %>
          Hello, <%= @current_user.name %>
          |
          <%= link_to 'Logout', login_path, method: 'delete' %>
          <br>
          <br>
          <%= link_to 'Home', root_path %>
          &#127807;
          <%= link_to 'Add new hike', new_hike_path %>
        <% else %>
          <%= link_to 'Login', login_path %>
          &#127807;
          <%= link_to 'Sign up', new_user_path %>
        <% end %>
          &#127807;
          <%= link_to 'View all hikes', hikes_path %>
      </nav>

      <hr>
      <%= yield %>
      <hr>
      &copy; dphlai 2020
  </body>

</html>
